.TaskInput {
    display: flex;
    justify-content: start;
    height: 50px;
    margin-bottom: 20px;
}
.Button {
    padding: 4px 20px;
    // height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    color: var(--bars-color);
    background-color: var(--bars-bg-color);
}
