.app.dark {
    --bg-color: #1e1e51;
    --primary-color: #fff;
    --secondary-color: #c3c3c3;

    // settings for bar
    --bars-bg-color: #9052d7;
    --bars-color: #fff;

    --chekbox-done: #fff;
}
